.card-cell {
    width: 85px;
    height: 85px;
    font-size:xx-small;
    font-weight: bold;
    cursor: pointer;
}

.card-text {
    justify-content: center;
    text-align: center;
    margin-left: -20%;
    margin-right: -20%;
}

#board-table {
    margin-top: 0%;
}

.whose-turn {
    margin-top: -15px;
    font-size: x-small;
    font-weight: bold;
}

.player-details {
}

.player-card {
    margin: 5%;
    height: 230px;
    font-weight: bold;
    cursor: pointer;
}